@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&amp;display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color:#ffffff;
}


.container-1 {
  padding:10px;
display: flex;
flex-direction: column;
gap: 20px;
}
.user-icon {
  background-color: grey;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 40px;
  font-size: 36px;
}

a, a:visited {
  color: #f8f8ff;

}